#bodyTicTac{/*body tictac.html*/
  background: rgba(172,154,146,0.8)
}
#bodyIndex{/*body home.html*/
  background-color: rgba(142,211,227,0.7);
  border: 5px black double;

}
#h1Index{
  position: relative;
 text-align: center;
 font-family: 'Bangers', cursive;
 font-size: 140px;
 color: rgba(150,103,131,1);
 text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;

}
#h1TicTac{
  font-family: 'Shrikhand', cursive;
  font-size: 125px;
  color: rgba(100,140,169,0.9);
  text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;

}
a:hover{/*link  h2 to tictac.html*/
  text-decoration:none ; 
 } 
#h2Index:hover{/*Movement of h2 from home.html*/
  color:darkblue;/*color for mouseover*/
  margin-top: -16px;
   transition: all .2s;
  -o-transition: all .2s;
  -moz-transition: all .2s;
  -webkit-transition: all .2s;
  text-shadow: 1px 1px 2px white, 0 0 25px white, 0 0 5px darkblue;

}
#h2Index{/*PLAY h2 in home.html*/
  font-size: 100px;
  color:rgb(13, 189, 36);
  text-align: center;
  padding-top: 5%;
  font-family: 'Shrikhand', cursive;
  text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px darkblue;
  
}

#indexPlay{/*container div of PLAY  h2 on home.html*/
  margin-top: 10%;
  background-color: red;
  width: 50%;
  height: 10%;
  border-radius: 50%;
  margin-left: 25%;
  box-shadow: 10px 10px 5px darkmagenta;
}



td {
  border:10px solid rgba(46, 11, 11,0.9);
  height:150px;
  width:180px;
  text-align:center;
  vertical-align:middle;
  font-family:"Shrikhand", cursive;
  cursor:pointer;
  font-size: 120px;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
   color:white;
}

table {
  border-collapse: collapse;
  position:absolute;
  left:50%;
  margin-left:-260px;
  top:25%;
  
}

table tr:first-child td {
  border-top:0;
}

table tr:last-child td {
  border-bottom:0;
}

table tr td:first-child {
  border-left:0;
}

table tr td:last-child {
  border-right:0;
}
button{/*play button on tictac.html*/
  position: relative;
  font-family: 'Shrikhand', cursive;
  color:black;
  text-shadow: 1px 1px 2px white, 0 0 25px yellow, 0 0 5px darkblue;
  background: rgb(156, 235, 10);
  width: 15%;
  border-radius: 20px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  font-size: 30px;
  margin-left: 5%;
  margin-top: 5%;
}
button:hover{/*hover of play button on tictac.html*/
  background: rgb(53, 222, 228);
  color:black;
  padding-left: 15px;
}
#scoreText{
  position: relative;
  font-family: 'Shrikhand', cursive;
  color:black;
  text-align: center;
  text-shadow: 1px 1px 2px white, 0 0 25px yellow, 0 0 5px darkblue;
  background: rgb(78, 116, 173);
  width: 23%;
  padding-top: 10%;
  padding-bottom: 2%;
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  font-size: 95px;
  margin-left: 1%;
  margin-top: 2%;
  border-radius: 5%;
  border: 5px black double;
}
#h1Score{
  margin-top: -40%;
  font-size: 80px;
  color:white;
  text-shadow: 1px 1px 2px black, 0 0 15px blue, 0 0 5px darkblue;

}
#h2Score{
  margin-bottom: 13%;
  font-size: 33px;
}
#scoreBoard{
  margin-left: -10%;
  margin-top: -20%;

}
#buttonReset{
  position: relative;
  font-family: 'Shrikhand', cursive;
  color:black;
  text-shadow: 1px 1px 2px white, 0 0 25px yellow, 0 0 5px darkblue;
  background: red;
  width: 20%;
  border-radius: 20px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  font-size: 30px;
  margin-left: 2%; 
  margin-top:-100%; 
}


 
.endgame {
  display: none;
  width: 200px;
  top: 120px;
  background-color: purple;
  position: absolute;
  left: 50%;
  margin-left: -100px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-size: 2em;
}


@font-face {
  font-family: 'digital_dream';
  src: url('digital_dream/digitaldreamfatskew-webfont.eot');
  src: url('digital_dream/digitaldreamfatskew-webfont.eot?#iefix') format('embedded-opentype'),
       url('digital_dream/digitaldreamfatskew-webfont.woff2') format('woff2'),
       url('digital_dream/digitaldreamfatskew-webfont.woff') format('woff'),
       url('digital_dream/digitaldreamfatskew-webfont.ttf') format('truetype'),
       url('digital_dream/digitaldreamfatskew-webfont.svg#digital_dream_fat_skewregular') format('svg');
 
}		
#cronometro { 
  position: relative;
  padding:10px;
  border: 5px #7c7bff double;
  width: 200px;
  text-align: center;
  background-color: rgb(119, 0, 0); 
  border-radius: 15px;
  float: right;
  padding-top: -10%;
  margin: 1em 3em 3em 3em;
  margin-top:-25%;
}
#clock { 
  padding: 5px 10px; 
  width: 90% ;
  border: 1px solid black; 
  font: normal 1em digital_dream, europa, arial; 
  text-align: center; 
  margin: 4px; 
  background-color: #f0ffff; 
  border-radius: 3px;
  font-weight: normal;
  font-style: normal;
  font-family: 'Shrikhand', cursive;
  color:black;
 text-shadow: 1px 1px 2px white, 0 0 25px yellow, 0 0 5px darkblue;
  font-size: 25px;
 }
#h2Time{ 
 font: normal 1em digital_dream, europa, arial; 
  text-align: center; 
  margin: 4px; 
  font-weight: normal;
  font-style: normal;
  font-family: 'Shrikhand', cursive;
  color:black;
 /*text-shadow: 5px 5px 50px black, 0 0 25px yellow, 0 0 50px darkblue;*/
  text-shadow: 0 0 13px white, 0 0 5px #0000FF;
  font-size: 55px;
}
